.form-popup {
  font-family: "Open Sans";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  z-index: 10;
  opacity: 0;
  pointer-events: none; }
  .form-popup__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    background: rgba(0, 0, 0, 0.9);
    opacity: 0; }
  .form-popup__popup {
    background-color: #e97d68;
    background-image: -webkit-linear-gradient(bottom, #e97d68, #e99b68);
    background-image: linear-gradient(to top,#e97d68, #e99b68);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(200%);
    -moz-transform: translateX(-50%) translateY(200%);
    -ms-transform: translateX(-50%) translateY(200%);
    -o-transform: translateX(-50%) translateY(200%);
    transform: translateX(-50%) translateY(200%);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    padding: 3em 1em 1em 1em;
    min-width: 300px; }
  .form-popup__title {
    font-size: 1.8rem;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: white;
    margin: 1em 0; }
  .form-popup__body-text {
    text-align: center;
    color: white;
    margin-bottom: 2em;
    line-height: 1.5em; }
  .form-popup__thank-you, .form-popup__error {
    text-align: center;
    color: white;
    margin-top: 1em;
    line-height: 1.5em; }
  .form-popup__input {
    display: block;
    width: 100%;
    height: 4em;
    line-height: 2em;
    font-size: 1em;
    padding: 1em 1em;
    resize: vertical;
    outline: none;
    border: none; }
    .form-popup__input + .form-popup__input {
      margin-top: 0.2em; }
  .form-popup textarea.form-popup__input {
    height: auto; }
  .form-popup__send-button {
    display: block;
    background: #112e3c;
    text-align: center;
    cursor: pointer;
    height: 4em;
    line-height: 4em;
    text-transform: uppercase;
    color: white;
    margin-top: 1em;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
    .form-popup__send-button:hover {
      background: #153341; }
  .form-popup__close-button {
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
    font-weight: 600;
    color: white;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
    .form-popup__close-button:hover {
      opacity: 0.8; }
  .form-popup.show {
    opacity: 1;
    pointer-events: all; }
    .form-popup.show .form-popup__overlay {
      opacity: 1; }
    .form-popup.show .form-popup__popup {
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%); }

.description-block {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .description-block__scanner {
    width: 10em;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 300px;
    -moz-flex: 1 1 300px;
    -ms-flex: 1 1 300px;
    flex: 1 1 300px;
    min-width: 300px;
    max-width: 500px; }
  .description-block__points {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 400px;
    -moz-flex: 1 1 400px;
    -ms-flex: 1 1 400px;
    flex: 1 1 400px;
    min-width: 400px;
    padding: 2em;
    font-size: 1.2em;
    max-width: 500px; }
  .description-block__point {
    line-height: 1.5em;
    color: #2EC9D2;
    font-weight: 600;
    height: 2em;
    margin: 1.5em 0;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    .description-block__point img {
      width: 1.4em;
      margin-bottom: -0.25em;
      margin-right: 1em; }

.input-shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px; }

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    transform: translate3d(4px, 0, 0); } }

/*# sourceMappingURL=popupStyle.css.map */
